@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap');

.box_top{
    background-color:green;
    width: 100%;
    height: 25px;
}
.box_divisor{
    background-color:green;
    width: 100%;
    height: 3px;
}
.box_bottom{
    background-color:black(99, 192, 24, 0.678);
    width: 100%;
    height: 150px;
}
.box_name{
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    margin-left: 800px;
}
.textos{
    font-family: 'Work Sans', sans-serif;
}
img{
    margin-top: 25px;
    width: 40px;
    height: 40px;
    margin-left: 920px;
}
.texto_bottom{
    margin-top: 25px;
    width: 100%;
    height: 100%;
    margin-left: 725px;
}